@charset "UTF-8";
@font-face {
  font-family: "MerriweatherRegular";
  src: url("../fonts/MerriweatherRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

.credits, .credits .credit-link {
  font-size: .8125rem;
  color: #a0a0a0;
  text-align: center; }

.pic-icon {
  display: inline-block;
  background: url("../img/icon-gallery.png") center center no-repeat;
  width: 1rem;
  height: 1rem; }

.wrapper {
  padding-top: 5rem;
  background: #000 url("../img/bg1.jpg") repeat fixed;
  font-size: .9375rem;
  font-family: MerriweatherRegular, serif;
  margin-bottom: 0; }

.header {
  background: #f3f3f3; }

.navbar-menu {
  position: relative;
  height: 2.5rem;
  background: #b05a5a;
  color: #fff; }
  .navbar-menu .nav-link {
    color: #f3f3f3 !important;
    font-weight: bold;
    font-size: .9375rem; }
  .navbar-menu .dropdown-toggle::after {
    display: none; }

.nav-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../img/menu-bg.png") repeat 5% #b05a5a; }

.breadcrumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .breadcrumb .breadcrumb-item-link {
    font-size: .875rem; }

.main {
  margin-top: -1rem;
  padding: 15px;
  padding-top: 3rem;
  background: #f3f3f3; }

.large-textarea {
  height: 12rem; }

.entry .entry-title {
  text-transform: uppercase;
  text-transform: uppercase;
  color: #ca6d6d;
  text-align: left;
  font-weight: bold;
  text-align: center; }

.entry .entry-text {
  color: #6b6b6b; }

.blog-buttons .btn {
  background: #333 url("../img/button-bg.png") repeat-x;
  color: #fff;
  border: none;
  font-size: .75rem; }

.related .related-heading, .related .gallery-heading {
  text-transform: uppercase;
  color: #ca6d6d;
  text-align: left;
  font-weight: bold; }

.related .gallery-heading {
  font-size: .875rem; }

.comments .comments-heading, .comments .card-title {
  text-transform: uppercase;
  color: #ca6d6d;
  text-align: left;
  font-weight: bold; }

.comments .card-text {
  color: #6b6b6b; }

.leaveReply .reply-header {
  text-transform: uppercase;
  color: #ca6d6d;
  text-align: left;
  font-weight: bold; }

html {
  min-height: 100%;
  position: relative; }

body {
  /* font-size: 14px; - по умолчанию, font-size для корневого элемента в документе так и равен 14px */
  margin-bottom: 3em;
  /* 140px  - for the sticky footer */ }

/* footer */
/* sticky footer  */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
  /* 8*14 = 80+32 =112px */ }
