<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name=" viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="css/styles.css" />







</head>

<body class="container-fluid ">

<div class="wrapper row ">

    <header class="col-lg-8 offset-lg-2 header  ">

        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between p-5">

            <img src="../img/logo.png" class="img-fluid" alt="Responsive image" />

            <div class="search-links d-inline-block justify-content-end mt-2">
                <ul class="contact list-inline ">
                    <li class="list-inline-item ">
                        <img src="../img/icon-rss.png"/>
                    </li>
                    <li class="list-inline-item">
                        <img src="../img/icon-facebook.png"/>
                    </li>
                    <li class="list-inline-item">
                        <img src="../img/icon-twitter.png"/>
                    </li>
                    <li class="list-inline-item">
                        <img src="../img/icon-dribbble.png"/>
                    </li>
                    <li class="list-inline-item">
                        <img src="../img/icon-linkedin.png"/>
                    </li>
                    <li class="list-inline-item">
                        <img src="../img/icon-pinterest.png"/>
                    </li>

                    <li class="list-inline-item">
                        <form class="form-inline my-2 my-lg-0 search-form ">
                            <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                        </form>

                    </li>
                </ul>

            </div>

        </nav>


        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-menu ">
            <div class="nav-wrapper">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto ml-auto">
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbar1Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Blog
                                <span class="sr-only">(current)</span></a>
                            <div class="dropdown-menu" aria-labelledby="navbar1Dropdown">
                                <a class="dropdown-item" href="blogpost.html">Blog post</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="gallery.html">Callery</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Styles
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Misc</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Columns</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Typography</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>

            </div>

        </nav>

