


// подключаем необходимые шрифты:

@font-face {
  font-family: "MerriweatherRegular";
  src: url("../fonts/MerriweatherRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

// задаем переменные:
$heading-color: #ca6d6d;
$heading-color-darkened: rgba( 176, 90, 90, 1);
$link-hover-color: rgba( 176, 90, 90, 1);
$link2-color: $link-hover-color;
$link2-hover-color: #2e2e2e;
$footer-bg: #2e2e2e;
$font-regular-color: #6b6b6b;
$footer-color: #999;
$search-field-bg: #111;
$copyright-bg: $search-field-bg;

$dial-bg1: rgb(233, 233, 233 );
$dial-bg2: rgb(244, 244, 244 );


//задаем повторяющиеся элементы:
@mixin heading-style {
  text-transform: uppercase;
  color: $heading-color;
  text-align: left;
  font-weight: bold;
}

@mixin credits-style {
  font-size: .8125rem; //13px
  color: #a0a0a0;
  text-align: center;
}

@mixin txt-style {
  font-family: MerriweatherRegular, serif ;
  font-size: .9375rem; //15px
  color: $font-regular-color;
  }

@mixin btn-style {
  background: #333 url("../img/button-bg.png") repeat-x;
  color: #fff;
  border: none;
  font-size: .75rem;

}




body {
  background:  #000 url("../img/bg1.jpg") repeat fixed;

  .main, .header, .breadcrumb, .navbar {
    background: #fff !important;

  }
}


.credits, .credits .credit-link {
  @include credits-style;
}

.credit-link:hover {
  text-decoration: none;
  color: $link-hover-color;
}

.pic-icon {
  display:inline-block;
  background: url("../img/icon-gallery.png") center center no-repeat;
  width: 1rem;
  height: 1rem;
}


.wrapper {
  @include txt-style;
  padding-top: 5rem;
  margin-bottom: 0;
}


//HEADER STYLES

.header {
  background:  #f3f3f3;

}

.navbar-menu {
  position: relative;
  height: 2.5rem;
  background:  $heading-color-darkened;
  color: #fff;

  .nav-link {
    color: #f3f3f3 !important;
    font-weight: bold;
    //Bootstrap 4 uses a default font-size of 16px, and its line-height is 1.5.
    font-size: .9375rem; //15px

  }
  .dropdown-toggle::after {
  display: none;
  }

}





.nav-wrapper {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background:  url("../img/menu-bg.png") repeat 5% $heading-color-darkened;
}


.breadcrumb {
  border-radius: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  .breadcrumb-item-link {
    font-size: .875rem; // 14px
    color: $heading-color;
    &:hover {
      text-decoration: none;
      color: darken($font-regular-color, 10%);
    }
  }


}



// MAIN
.main {

  margin-top: -1rem;
  padding: 15px;
  padding-top: 3rem;
  background: #f3f3f3;
}

.search-form {

}

.large-textarea {
 height: 12rem;
}




//blog-entry styles
.entry {

  padding-bottom: 3rem;

  .entry-title {
    text-transform: uppercase;
    @include heading-style;
    text-align: center;
    padding-bottom: 1rem;

  }

  .entry-text {
    @include txt-style;
    text-align: justify;
    padding-bottom: 1rem;
  }

  .entry-img-container {
    padding-left: 0;
    padding-right: 0;
  }

.videoframe {
  border: none;
}


  .dial1 {
    background: $dial-bg1;
  }
  .dial2 {
    background: $dial-bg2;
  }



  .credits {

  }

}

.blog-buttons {
  text-align: center;
  .btn {

    @include btn-style;
  }

}


.related {
  .related-heading, .gallery-heading {
    @include heading-style;
  }

  .gallery-heading {
    font-size: .875rem; //14px
  }
}



.comments {




  padding: 6rem 2rem;



  .comments-heading, .card-title {
    @include heading-style;
  }

  .date {
    font-size: .75rem; //12px
  }

  .card-text {
    @include txt-style;


  }

  .reply-comment-link {
    color: $link-hover-color;


    &:hover {
      text-decoration: none;
      color: $font-regular-color;
    }

  }

}


.leaveReply {
  .reply-header {
    @include heading-style;

  }

  .form-comment {
    @include txt-style;
    font-size: .75rem; //12px

  }

  .reply-form {
    .btn {
      @include btn-style;

    }

    .form-control {



      position: relative;

      &::placeholder {
        color: $heading-color;
      }

      &::after { // разобраться почему не работает ???!!!!
        content: "*";
        position: absolute;
        right: -5rem;

        top: 1rem;
        color: $heading-color;
      }

    }



  }

}


.welcome-txt {
  padding-bottom: 3rem;
  font-weight: lighter;
  text-align: center;
  line-height: 2rem;
  color: lighten($font-regular-color, 20%);

}


// ABOUT PAGE

.text-title {
  @include heading-style;

}

//------------------------


// CONTACT PAGE

.contact-section {
  line-height: 1.8rem;

  .reply-form {
    padding: 2rem;
    background: #eee;
    margin-bottom: 2rem;

  }


  .large-textarea {
    height: 12rem;
  }
}

.form-contact::placeholder {
  color: $font-regular-color !important;
}

//------------------------


// TYPOGRAPHY PAGE
 .highlight1 {
   color: $heading-color;
   text-decoration: underline dotted $heading-color;
 }
 .highlight2 {
   text-decoration: underline dotted $heading-color;
 }

.list {
  text-align: left !important;
  margin-left: 1.5rem;
}

.main-typo {
 padding: 2.5rem;
  text-align: justify;
}

.typo-txt {
  &:first-letter {
    font-size: 2.5rem;
    float: left;
    padding: .3rem;



  }
 }

//------------------------





// FOOTER



// footer styles:


.footer {

}


// STICKY FOOOOTERRRR!!!!!!!!
html {
  min-height: 100%;
  position: relative;

}

body {
  /* font-size: 14px; - по умолчанию, font-size для корневого элемента в документе так и равен 14px */

   margin-bottom: 30rem; /* 140px  - for the sticky footer */
}
/* footer */

/* sticky footer  */

.footer {
  position: absolute;
  bottom: 2rem;
  width:100%;
  height: 28rem;

  //other footer styles:
  padding: 3rem;
  background: $footer-bg;

}

// other footer-elems-related styles

.footer-item {
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: $footer-color;
  line-height: 1.6875rem;


  .footer-item-header {
    padding-top: .2rem;
    padding-bottom: .2rem;
    color: $heading-color;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;


  }

  .footer-search-field {
    width: 10rem;
    background: $search-field-bg;
    color: #fff;
    border: none;
    padding: .5rem;
    text-transform: capitalize;

  }

  .footer-list {
    padding-left:1rem;
  }

  .footer-link {
    color: $footer-color;

    &:hover {
      color: lighten($footer-color, 30%);
      text-decoration: none;
    }
  }


  }

.footer-copyright {
  position: absolute;
  left:0;
  right:0;
  bottom: 0;
  height: 4rem;
  padding-top: 1rem;
  margin: 0;
  background: $copyright-bg;
  font-size: .875rem; // 14px

}





