<% include partials/header %>

<nav aria-label="breadcrumb breadcrumb-menu"> <!-- хорошо бы сделать breadcrumbs динамичным...!!!! -->
    <ol class="breadcrumb mt-7">
        <li class="breadcrumb-item ml-auto"><a class="breadcrumb-item-link" href="#">Home</a></li>
        <li class="breadcrumb-item active mr-auto" aria-current="page">About</li>
    </ol>
</nav>
</header>


<main class="col-lg-8 offset-lg-2  main">


    <section class="container-fluid" >
        <article class="entry">
            <header class="mt-lg-2">
                <h2 class="entry-title  ">About</h2>
            </header>
            <div class="entry-pic text-center row">


                <div class="col-md-4">
                    <img class="img-fluid pic" src="../img/art/about.jpg" />
                </div>

                <div class="col-md-7 ">
                    <p class="entry-text text-left ">
                        Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                        Maecenas faucibus mollis interdum.
                        Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                    </p>
                    <p class="entry-text  text-left ">
                        Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor.
                        Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue.
                        Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                    <h5 class="text-left text-title">Fermentum Purus Ipsum</h5>
                    <p class="entry-text  text-left ">
                        Maecenas sed diam eget risus varius blandit sit amet non magna.
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                        Maecenas sed diam eget risus varius blandit sit amet non magna.
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl.
                    </p>
                    <p class="entry-text text-left   ">
                        Aenean lacinia bibendum nulla sed consectetur.
                        Vestibulum id ligula porta felis euismod semper.
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                        Maecenas sed diam eget risus varius blandit sit amet non magna.
                        Maecenas sed diam eget risus varius blandit sit amet non magna
                    </p>

                </div>
            </div>




        </article>

    </section>



</main>

<% include partials/footer %>
