<% include partials/header %>

<nav aria-label="breadcrumb breadcrumb-menu">
    <ol class="breadcrumb mt-7">
        <li class="breadcrumb-item ml-auto"><a class="breadcrumb-item-link" href="#">Home</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb-item-link"  href="#">Photography</a></li>
        <li class="breadcrumb-item active mr-auto" aria-current="page">A wonderful serenity</li>
    </ol>
</nav>
</header>



<main class="col-lg-8 offset-lg-2  main">

            <section>
                <article class="entry">
                    <header class="mt-lg-2">
                        <h2 class="entry-title ">A wonderful serenity</h2>
                    </header>
                    <figure class="entry-pic text-center">
                        <figcaption class="credits mt-lg-2 mb-lg-4">
                            <i class="pic-icon"></i> |
                            <a class="credit-link" href="#"> May 21, 2012 </a> |
                            <a  class="credit-link" href="#">Photography </a> |
                            <a  class="credit-link" href="#"> 4 Comments</a>
                        </figcaption>
                        <img class="img-fluid pic" src="img/art/post1.jpg" />
                    </figure>

                    <p class="entry-text">
                        A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
                        I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
                        I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.
                    </p>
                    <p class="entry-text">
                        Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.
                        Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                        Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                    </p>
                </article>


            </section>


            <section>
                <div class="blog-buttons ">
                    <a href="#" class="btn btn-primary px-3">Prev Post</a>
                    <a href="#" class="btn btn-primary px-3">Next Post</a>
                </div>
            </section>

            <section class="related row">
                <h3 class="col-12 related-heading pb-4 pt-2">Related posts</h3>
                <figure class="col-4 related-item">
                    <img src="img/art/gallery-th.jpg" class="embed-responsive" />
                    <figcaption>
                        <h3 class="gallery-heading py-3">Gallery posts</h3>
                        <span class="credits">
                            <i class="pic-icon"></i> |
                            <a href="#" class="credit-link"> May 21, 2012 </a> |
                            <a href="#" class="credit-link"> Photography </a> |
                            <a href="#" class="credit-link"> 4 Comments </a>
                        </span>
                    </figcaption>
                </figure>

                <figure class="col-4">
                    <img src="img/art/gallery-th.jpg" class="embed-responsive " />
                    <figcaption>
                        <h3 class="gallery-heading py-3">Gallery posts</h3>
                        <span class="credits">
                            <i class="pic-icon"></i> |
                            <a href="#" class="credit-link"> May 21, 2012 </a> |
                            <a href="#" class="credit-link"> Photography </a> |
                            <a href="#" class="credit-link"> 4 Comments </a>
                        </span>
                    </figcaption>
                </figure>

                <figure class="col-4">
                    <img src="img/art/gallery-th.jpg" class="embed-responsive" />
                    <figcaption>
                        <h3 class="gallery-heading py-3">Gallery posts</h3>
                        <span class="credits">
                            <i class="pic-icon"></i> |
                            <a href="#" class="credit-link"> May 21, 2012 </a> |
                            <a href="#" class="credit-link"> Photography </a> |
                            <a href="#" class="credit-link"> 4 Comments </a>
                        </span>
                    </figcaption>
                </figure>

            </section>

            <section class="comments" >
                <h3 class="comments-heading">4 Thoughts on "A wonderful serenity"</h3>

                <div class="row">
                    <div class="col-2 pt-4">
                        <img class=" img-thumbnail" src="http://0.gravatar.com/avatar/cc7c937d52fca5579a3bd6b403da6bfd?s=80&d=identicon&r=G" alt="user-avatar" />
                    </div>

                    <div class="card-body col-10">
                        <h4 class="card-title">Marshall Eriksen</h4>
                        <p class="card-text date">22 May on 2012 at 2:57 pm</p>
                        <p class="card-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            Donec id elit non mi porta gravida at eget metus.
                            Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                            Aenean lacinia bibendum nulla sed consectetur.
                        </p>
                        <p class="card-text"><a class="reply-comment-link" href="#">Reply</a></p>
                    </div>

                    <div class="col-2 pt-4 offset-1">
                        <img class=" img-thumbnail" src="http://0.gravatar.com/avatar/cc7c937d52fca5579a3bd6b403da6bfd?s=80&d=identicon&r=G" alt="user-avatar" />
                    </div>

                    <div class="card-body col-9">
                        <h4 class="card-title">Admin</h4>
                        <p class="card-text date">23 May on 2012 at 8:59 pm</p>
                        <p class="card-text">
                            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                            Curabitur blandit tempus porttitor. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.
                        </p>
                        <p class="card-text"><a  class="reply-comment-link" href="#">Reply</a></p>
                    </div>

                </div>

                <div class="row">
                    <div class="col-2 pt-4">
                        <img class=" img-thumbnail" src="http://0.gravatar.com/avatar/cc7c937d52fca5579a3bd6b403da6bfd?s=80&d=identicon&r=G" alt="user-avatar" />
                    </div>

                    <div class="card-body col-10">
                        <h4 class="card-title">Laura</h4>
                        <p class="card-text date">25 May on 2012 at 7:35 pm</p>
                        <p class="card-text">
                            Maecenas sed diam eget risus varius blandit sit amet non magna.
                            Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        </p>
                        <p class="card-text"><a  class="reply-comment-link" href="#">Reply</a></p>
                    </div>
                </div>

            </section>

            <section class="leaveReply">

                <h3 class="reply-header">Leave a reply</h3>
                <h4 class="form-comment pt-2 pb-4">Your email address will not be published. Required fields are marked *</h4>

                <form class="reply-form">
                    <div class="form-group">
                        <label for="name" hidden>Name:</label>
                        <input type="text" class="form-control col-lg-9" id="name" aria-describedby="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="email" hidden>Email:</label>
                        <input type="text" class="form-control col-lg-9" id="email" aria-describedby="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="website" hidden>Wesite:</label>
                        <input type="text" class="form-control col-lg-9" id="website" aria-describedby="website" placeholder="Website">
                    </div>
                    <div class="form-group">
                        <textarea type="text" class="form-control large-textarea" aria-describedby="comment">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Post comment" />
                    </div>

                </form>

            </section>

        </main>


<% include partials/footer %>

