<% include partials/header %>

<nav aria-label="breadcrumb breadcrumb-menu">
    <ol class="breadcrumb mt-7">
        <li class="breadcrumb-item ml-auto"><a class="breadcrumb-item-link" href="#">Home</a></li>
        <li class="breadcrumb-item active mr-auto" aria-current="page">Columns</li>
    </ol>
</nav>
</header>



<main class="col-lg-8 row offset-2  main main-typo">

            <section class="col-md-12">
                <article class="entry">
                    <header class="text-center">
                        <h2 class="entry-title ">Columns</h2>
                    </header>
                </article>
            </section>

    <!-- сделать через флексбоксы!!! -->
    <!-- сделать через флексбоксы!!! -->
    <!-- сделать через флексбоксы!!! -->
    <!-- сделать через флексбоксы!!! -->
    <!-- сделать через флексбоксы!!! -->
    <!-- сделать через флексбоксы!!! -->


            <section class="col-md-5 offset-1">
                <article class="entry ">
                    <p class="typo-txt text-left">
                        A Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                        Curabitur lacus nisi, vestibulum id aliquam sit amet, dictum sit amet lacus.
                    </p>
                </article>
            </section>

            <section class="col-md-5 ">
                <article class="entry ">
                    <p class="typo-txt text-left">
                        B Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                        Curabitur lacus nisi, vestibulum id aliquam sit amet, dictum sit amet lacus.
                    </p>
                </article>
            </section>

            <section class="col-md-3 offset-1">
                <article class="entry ">
                    <p class="typo-txt text-left">
                        C Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                        Curabitur lacus nisi, vestibulum id aliquam sit amet, dictum sit amet lacus.
                    </p>
                </article>
            </section>

            <section class="col-md-3 ">
                <article class="entry ">
                    <p class="typo-txt text-left">
                        D Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                        Curabitur lacus nisi, vestibulum id aliquam sit amet, dictum sit amet lacus.
                    </p>
                </article>
            </section>

            <section class="col-md-3">
                <article class="entry ">
                    <p class="typo-txt text-left">
                        E Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                        Curabitur lacus nisi, vestibulum id aliquam sit amet, dictum sit amet lacus.
                    </p>
                </article>
            </section>



            <section>
                <article class="entry row">
                    <header class="mt-lg-2 col-md-12">
                        <h2 class="entry-title typo-title" >Heading 2</h2>
                    </header>
                    <p class="col-md-3">
                        Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper.
                        Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                    </p>
                    <p class="col-md-3">
                        Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper.
                        Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                    </p>
                    <p class="col-md-3">
                        Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper.
                        Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                    </p>
                    <p class="col-md-3">
                        Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper.
                        Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                    </p>
                </article>
            </section>


            <section>
                <article class="entry row">
                    <header class="mt-lg-2 col-md-12">
                        <h3 class="entry-title typo-title" >Heading 3</h3>
                    </header>
                    <p class="col-md-3 col-offset-1">
                        Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper.
                        Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                    </p>
                    <p class="col-md-3">
                        Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper.
                        Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                    </p>
                    <p class="col-md-3">
                        Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper.
                        Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                    </p>
                    <p class="col-md-3">
                        Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper.
                        Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                    </p>
                    <p class="col-md-3">
                        Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper.
                        Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                    </p>
                </article>
            </section>


            <section>
                <article class="entry row ">
                    <header class="mt-lg-2 col-md-12">
                        <h4 class="entry-title typo-title" >Heading 4</h4>
                    </header>
                    <p class="col-md-3 col-offset-1">
                        Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper.
                        Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                    </p>
                    <p class="col-md-3">
                        Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper.
                        Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                    </p>
                    <p class="col-md-3">
                        Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper.
                        Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                    </p>
                    <p class="col-md-3">
                        Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper.
                        Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                    </p>
                    <p class="col-md-3">
                        Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper.
                        Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                    </p>
                </article>
            </section>


            <section>
                <article class="entry row">
                    <header class="mt-lg-2 col-md-12">
                        <h5 class="entry-title typo-title" >Heading 5</h5>
                    </header>
                    <p class="col-md-8">
                        Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper.
                        Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                    </p>
                    <p class="col-md-4">
                        Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper.
                        Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                    </p>
                </article>
            </section>

            <section>
                <article class="entry row">
                    <header class="mt-lg-2 col-md-12">
                        <h6 class="entry-title typo-title" >Heading 6</h6>
                    </header>
                    <p class="col-md-4">
                        Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper.
                        Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                    </p>
                    <p class="col-md-8">
                        Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper.
                        Integer congue vehicula lectus eu faucibus.
                        Maecenas ante lectus, placerat et venenatis quis, dictum quis orci.
                    </p>
                </article>
            </section>




        </main>


<% include partials/footer %>

