<% include partials/header %>

<nav aria-label="breadcrumb breadcrumb-menu">
    <ol class="breadcrumb mt-7">
        <li class="breadcrumb-item ml-auto"><a class="breadcrumb-item-link" href="#">Home</a></li>
        <li class="breadcrumb-item active mr-auto" aria-current="page">ExperimentalPage</li>
    </ol>
</nav>
</header>



<main class="col-lg-8 row offset-2  main main-typo">

            <section class="col-md-12">
                <article class="entry">
                    <header class="text-center">
                        <h2 class="entry-title ">Columns</h2>
                    </header>
                </article>
            </section>




    <!-- pure flexbox - решение через чистые флексбоксы -->
    <section class="flex-container1">
        <div class="child ">
        </div>
    </section>


    <section class="flex-container2">
            <p class="entry flex-item ">
                A Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus.
            </p>
            <p class="entry flex-item ">
                A Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus.
            </p>
            <p class="entry flex-item ">
                A Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus.
            </p>
            <p class="entry flex-item ">
                A Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus.
            </p>
            <p class="entry flex-item ">
                A Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus.
            </p>
            <p class="entry flex-item ">
                A Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus.
            </p>
            <p class="entry flex-item ">
                A Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus.
            </p>
            <p class="entry flex-item ">
                A Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus.
            </p>
            <p class="entry flex-item ">
                A Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus.
            </p>
            <p class="entry flex-item ">
                A Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus.
            </p>
            <p class="entry flex-item ">
                A Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus.
            </p>
            <p class="entry flex-item ">
                A Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus.
            </p>
        </section>





        </main>


<% include partials/footer %>

