<% include partials/header %>

<nav aria-label="breadcrumb breadcrumb-menu"> <!-- хорошо бы сделать breadcrumbs динамичным...!!!! -->
    <ol class="breadcrumb mt-7">
        <li class="breadcrumb-item ml-auto"><a class="breadcrumb-item-link" href="#">Home</a></li>
        <li class="breadcrumb-item active mr-auto" aria-current="page">Gallery</li>
    </ol>
</nav>
</header>


<main class="col-lg-8 offset-lg-2  main">

    <section >
        <article class="entry container-fluid">
            <header>
                <h2 class="entry-title ">Gallery</h2>
            </header>

            <p class="entry-text offset-1 col-10">
                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
                and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth,
                the master-builder of human happiness.
            </p>

            <div class="row  text-center offset-1 col-10 ">
                <div class="col-md-3 entry-img-container">
                    <img class="img-fluid pic" src="../img/art/gallery1.jpg" />
                </div>
                <div class="col-md-3 entry-img-container">
                    <img class="img-fluid pic" src="../img/art/gallery2.jpg" />
                </div>
                <div class="col-md-3 entry-img-container">
                    <img class="img-fluid pic" src="../img/art/gallery3.jpg" />
                </div>
                <div class="col-md-3 entry-img-container">
                    <img class="img-fluid pic" src="../img/art/gallery4.jpg" />
                </div>
                <div class="col-md-3 entry-img-container">
                    <img class="img-fluid pic" src="../img/art/gallery5.jpg" />
                </div>
                <div class="col-md-3 entry-img-container">
                    <img class="img-fluid pic" src="../img/art/gallery6.jpg" />
                </div>
                <div class="col-md-3 entry-img-container">
                    <img class="img-fluid pic" src="../img/art/gallery7.jpg" />
                </div>
                <div class="col-md-3 entry-img-container">
                    <img class="img-fluid pic" src="../img/art/gallery8.jpg" />
                </div>
                <div class="col-md-3 entry-img-container">
                    <img class="img-fluid pic" src="../img/art/gallery9.jpg" />
                </div>
                <div class="col-md-3 entry-img-container">
                    <img class="img-fluid pic" src="../img/art/gallery10.jpg" />
                </div>
            </div>

            <br/>

            <p class="entry-text offset-1 col-10">
                He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
                The bedding was hardly able to cover it and seemed ready to slide off any moment.
            </p>

        </article>

    </section>




</main>

<% include partials/footer %>
