<% include partials/header %>

<nav aria-label="breadcrumb breadcrumb-menu">
    <ol class="breadcrumb mt-7">
        <li class="breadcrumb-item ml-auto"><a class="breadcrumb-item-link" href="#">Home</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb-item-link"  href="#">Photography</a></li>
        <li class="breadcrumb-item active mr-auto" aria-current="page">A wonderful serenity</li>
    </ol>
</nav>
</header>


<main class="col-lg-8 offset-lg-2  main">

             <section class="offset-lg-1 col-lg-10" >
                <h5 class="welcome-txt">
                    Hello! Welcome to my blog. I am Serendipity. Here on this blog you will be able to find my photography work as well as everything I like across the internet world.
                </h5>
             </section>

            <section >
                <article class="entry">
                    <header class="mt-lg-2">
                        <h2 class="entry-title ">A wonderful serenity</h2>
                    </header>
                    <figure class="entry-pic text-center">
                        <figcaption class="credits mt-lg-2 mb-lg-4">
                            <i class="pic-icon"></i> |
                            <a class="credit-link" href="#"> May 21, 2012 </a> |
                            <a  class="credit-link" href="#">Photography </a> |
                            <a  class="credit-link" href="#"> 4 Comments</a>
                        </figcaption>
                        <div class="row figure-container">
                            <img class="img-fluid" id="img-fluid-1" src="../img/art/post1.jpg" />
                        </div>
                    </figure>
                    <!-- см в самом низу скрипт для вычисления верхнего отступа для текста в зависимости от размеров img -->

                    <p class="entry-text offset-1 col-10 " id="entry-text-1" >
                        A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
                        I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
                        I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.
                    </p>

                </article>

            </section>

            <section >
                <article class="entry">
                    <header class="mt-lg-2">
                        <h2 class="entry-title ">The meridian sun</h2>
                    </header>
                    <div class="entry-pic text-center">
                        <div class="credits mt-lg-2 mb-lg-4">
                            <i class="pic-icon pic-icon-pen"></i> |
                            <a class="credit-link" href="#"> May 21, 2012 </a> |
                            <a  class="credit-link" href="#">Article </a> |
                            <a  class="credit-link" href="#"> 1 Comment</a>
                        </div>
                    </div>

                    <p class="entry-text offset-1 col-10">
                        When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees,
                        and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth,
                        a thousand unknown plants are noticed by me:
                        when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies.
                    </p>

                    <p class="entry-text offset-1 col-10">
                        Then I feel the presence of the Almighty, who formed us in his own image,
                        and the breath of that universal love which bears and sustains us,
                        as it floats around us in an eternity of bliss; and then, my friend,
                        when darkness overspreads my eyes, and heaven and earth seem to dwell in my soul and absorb its power,
                        like the form of a beloved mistress, then I often think with longing, Oh, would I could describe these conceptions,
                        could impress upon paper all that is living so full and warm within me,
                        that it might be the mirror of my soul, as my soul is the mirror of the infinite God!
                    </p>

                </article>

            </section>


            <section >
                <article class="entry">
                    <header class="mt-lg-2">
                        <h2 class="entry-title ">Gallery format</h2>
                    </header>
                    <div class="entry-pic text-center">
                        <div class="credits mt-lg-2 mb-lg-4">
                            <i class="pic-icon"></i> |
                            <a class="credit-link" href="#"> May 21, 2012 </a> |
                            <a  class="credit-link" href="#">Photography </a> |
                            <a  class="credit-link" href="#"> 1 Comment</a>
                        </div>

                        <ul class="row  text-center offset-1 col-10 ">
                            <li class="col-md-3 entry-img-container">
                                <img class="img-fluid pic" src="../img/art/gallery1.jpg" />
                                <a class="hover-helper" href="../img/art/gallery1-full.jpg">
                                    <i class="plus fa fa-plus-circle"></i>
                                </a>
                            </li>
                            <li class="col-md-3 entry-img-container">
                                <img class="img-fluid pic" src="../img/art/gallery2.jpg" />
                                <a class="hover-helper" href="../img/art/gallery1-full.jpg">
                                    <i class="plus fa fa-plus-circle"></i>
                                </a>
                            </li>
                            <li class="col-md-3 entry-img-container">
                                <img class="img-fluid pic" src="../img/art/gallery3.jpg" />
                                <a class="hover-helper" href="../img/art/gallery1-full.jpg">
                                    <i class="plus fa fa-plus-circle"></i>
                                </a>
                            </li>
                            <li class="col-md-3 entry-img-container">
                                <img class="img-fluid pic" src="../img/art/gallery4.jpg" />
                                <a class="hover-helper" href="../img/art/gallery1-full.jpg">
                                    <i class="plus fa fa-plus-circle"></i>
                                </a>
                            </li>
                            <li class="col-md-3 entry-img-container">
                                <img class="img-fluid pic" src="../img/art/gallery5.jpg" />
                                <a class="hover-helper" href="../img/art/gallery1-full.jpg">
                                    <i class="plus fa fa-plus-circle"></i>
                                </a>
                            </li>
                            <li class="col-md-3 entry-img-container">
                                <img class="img-fluid pic" src="../img/art/gallery6.jpg" />
                                <a class="hover-helper" href="../img/art/gallery1-full.jpg">
                                    <i class="plus fa fa-plus-circle"></i>
                                </a>
                            </li>
                            <li class="col-md-3 entry-img-container">
                                <img class="img-fluid pic" src="../img/art/gallery7.jpg" />
                                <a class="hover-helper" href="../img/art/gallery1-full.jpg">
                                    <i class="plus fa fa-plus-circle"></i>
                                </a>
                            </li>
                            <li class="col-md-3 entry-img-container">
                                <img class="img-fluid pic" src="../img/art/gallery8.jpg" />
                                <a class="hover-helper" href="../img/art/gallery1-full.jpg">
                                    <i class="plus fa fa-plus-circle"></i>
                                </a>
                            </li>
                            <li class="col-md-3 entry-img-container">
                                <img class="img-fluid pic" src="../img/art/gallery9.jpg" />
                                <a class="hover-helper" href="../img/art/gallery1-full.jpg">
                                    <i class="plus fa fa-plus-circle"></i>
                                </a>
                            </li>
                            <li class="col-md-3 entry-img-container">
                                <img class="img-fluid pic" src="../img/art/gallery10.jpg" />
                                <a class="hover-helper" href="../img/art/gallery1-full.jpg">
                                    <i class="plus fa fa-plus-circle"></i>
                                </a>
                            </li>
                        </ul>

                        <br/>


                    </div>

                    <p class="entry-text offset-1 col-10">
                        O my friend — but it is too much for my strength — I sink under the weight of the splendour of these visions!
                        A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
                    </p>
                    <p class="entry-text offset-1 col-10">
                        He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
                        The bedding was hardly able to cover it and seemed ready to slide off any moment.
                    </p>

                </article>

            </section>


            <section >
                <article class="entry">
                    <header class="mt-lg-2">
                        <h2 class="entry-title ">Gregor Samsa</h2>
                    </header>
                    <div class="entry-pic text-center">
                        <div class="credits mt-lg-2 mb-lg-4">
                            <i class="pic-icon pic-icon-quote"></i> |
                            <a class="credit-link" href="#"> May 20, 2012 </a> |
                            <a  class="credit-link" href="#">Quote </a> |
                            <a  class="credit-link" href="#"> 1 Comment</a>
                        </div>
                    </div>

                    <blockquote class="entry-text offset-1 col-10 blockquote"> <!-- почему-то не работает blockquote -  не выделяет как цитату... -->
                        <p>

                        One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.
                        He lay on his armour-like back, and if he lifted his head a little he could see his brown belly,
                        slightly domed and divided by arches into stiff sections.
                        The bedding was hardly able to cover it and seemed ready to slide off any moment.
                        </p>
                        <p>
                            Kafka
                        </p>

                    </blockquote>
                </article>

            </section>


            <section >
                <article class="entry">
                    <header class="mt-lg-2">
                        <h2 class="entry-title ">A life in the day</h2>
                    </header>
                    <figure class="entry-pic text-center">
                        <figcaption class="credits mt-lg-2 mb-lg-4">
                            <i class="pic-icon pic-icon-video"></i> |
                            <a class="credit-link" href="#"> May 19, 2012 </a> |
                            <a  class="credit-link" href="#">Videography </a> |
                            <a  class="credit-link" href="#"> 1 Comment</a>
                        </figcaption>
                            <iframe class="videoframe col-10 col-offset-1 img-fluid" width="500" height="281" src="http://player.vimeo.com/video/11513701?title=0&byline=0&portrait=0&color=ffffff">
                            </iframe> <!-- криво вставилось :// -->
                    </figure>
                    <p class="entry-text offset-1 col-10">
                         Filmed on May 5, 2010, a mostly first-person chronicle of the day’s events leading up to a performance in Wollongong, Australia.
                         Shot on Canon 5D mkII with 50mm 1.2 and 24-70 lenses.
                    </p>
                </article>
            </section>

            <section >
                <article class="entry">
                    <header class="mt-lg-2">
                        <h2 class="entry-title ">Nights like Bonita</h2>
                    </header>
                    <figure class="entry-pic text-center">
                        <figcaption class="credits mt-lg-2 mb-lg-4">
                            <i class="pic-icon"></i> |
                            <a class="credit-link" href="#"> May 18, 2012 </a> |
                            <a  class="credit-link" href="#">Music </a> |
                            <a  class="credit-link" href="#"> No Comments</a>
                        </figcaption>
                            <iframe class="videoframe col-10 col-offset-1 img-fluid" width="500" height="281" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F29449040&auto_play=false&show_artwork=true&color=666666">
                            </iframe> <!-- криво вставилось :// -->
                    </figure>
                    <p class="entry-text offset-1 col-10">
                        Icona Pop is a duo all the way from Stockholm, Sweden. Caroline Hjelt and Aino Jawo deliver pop music that seems second nature to most Scandinavians.                         Shot on Canon 5D mkII with 50mm 1.2 and 24-70 lenses.
                    </p>
                    <p class="entry-text offset-1 col-10">
                        Upon first hearing Manners you get it all – clapped beats, fizzy electronics, cute female vocals and a Sesame Street chorus.
                        It’s verses are like the narration of a teenager’s diary, before the youthful confidence comes storming in,
                        “take a second look and you’ll see, there is no one like me”. It’s a punchy pop song that has a wonderful blend of obvious hooks,
                        big choruses and a chart-ready appeal, yet it’s still drenched in buckets of ice cool undertones.
                    </p>
                </article>
            </section>

            <section >
                <article class="entry">
                    <header class="mt-lg-2">
                        <h2 class="entry-title ">Travelling day in and day out</h2>
                    </header>
                    <figure class="entry-pic text-center">
                        <figcaption class="credits mt-lg-2 mb-lg-4">
                            <i class="pic-icon"></i> |
                            <a class="credit-link" href="#"> May 17, 2012 </a> |
                            <a  class="credit-link" href="#">Photography </a> |
                            <a  class="credit-link" href="#"> 1 Comment</a>
                        </figcaption>
                        <img class="img-fluid pic" src="../img/art/post2.jpg" />
                    </figure>
                    <p class="entry-text offset-1 col-10">
                        He must have tried it a hundred times, shut his eyes so that he wouldn’t have to look at the floundering legs,
                        and only stopped when he began to feel a mild, dull pain there that he had never felt before.
                    </p>
                    <p class="entry-text offset-1 col-10">
                        “Oh, God”, he thought, “what a strenuous career it is that I’ve chosen! Travelling day in and day out.
                    </p>
                </article>
            </section>

            <section >
                <article class="entry">
                    <header class="mt-lg-2">
                        <h2 class="entry-title ">The italic mountains</h2>
                    </header>
                    <div class="entry-pic text-center">
                        <div class="credits mt-lg-2 mb-lg-4">
                            <i class="pic-icon pic-icon-link"></i> |
                            <a class="credit-link" href="#"> May 16, 2012 </a> |
                            <a  class="credit-link" href="#">Link </a> |
                            <a  class="credit-link" href="#"> No Comments</a>
                        </div>
                    </div>
                    <p class="entry-text offset-1 col-10">
                        When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove,
                        the headline of Alphabet Village and the subline of her own road, the Line Lane.
                        Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy.
                    </p>
                </article>
            </section>

            <section >
                <article class="entry">
                    <header class="mt-lg-2">
                        <h2 class="entry-title ">Thousands of bad commas</h2>
                    </header>
                    <figure class="entry-pic text-center">
                        <figcaption class="credits mt-lg-2 mb-lg-4">
                            <i class="pic-icon"></i> |
                            <a class="credit-link" href="#"> April 22, 2012 </a> |
                            <a  class="credit-link" href="#">Photography </a> |
                            <a  class="credit-link" href="#"> 1 Comment</a>
                        </figcaption>
                        <img class="img-fluid pic" src="../img/art/post3.jpg" />
                    </figure>
                    <p class="entry-text offset-1 col-10">
                        The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli,
                        but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.
                    </p>
                </article>
            </section>

            <section >
                <article class="entry">
                    <header class="mt-lg-2">
                        <h2 class="entry-title ">Two best friends</h2>
                    </header>
                    <div class="entry-pic text-center">
                        <div class="credits mt-lg-2 mb-lg-4">
                            <i class="pic-icon pic-icon-chat"></i> |
                            <a class="credit-link" href="#"> April 19, 2012 </a> |
                            <a  class="credit-link" href="#">Chat </a> |
                            <a  class="credit-link" href="#"> No Comments</a>
                        </div>
                    </div>
                    <p class="entry-text offset-1 col-10 dial1">
                        Barney: Stop pining over Marshall and Lily! Have some self respect.
                        Now put this fiver in your mouth so that stripper with the lazy eye can vacuum it up with…
                    </p>
                    <p class="entry-text offset-1 col-10 dial2">
                    Ted: Barney! I’m allowed to miss them alright? They’re my two best friends.
                    </p>
                    <p class="entry-text offset-1 col-10 dial1" >
                    Barney: I’m your two best friends!
                    </p>
                </article>
            </section>

            <section class="py-5 px-5">
                <div class="blog-buttons  ">
                    <a href="#" class="btn btn-primary px-3 pressed">1</a>
                    <a href="#" class="btn btn-primary px-3">2</a>
                    <a href="#" class="btn btn-primary px-3">3</a>
                </div>
            </section>


    <script type="text/javascript" src="../js/additionalCalc.js"></script>


</main>

<% include partials/footer %>
