<% include partials/header %>

<nav aria-label="breadcrumb breadcrumb-menu">
    <ol class="breadcrumb mt-7">
        <li class="breadcrumb-item ml-auto"><a class="breadcrumb-item-link" href="#">Home</a></li>
        <li class="breadcrumb-item active mr-auto" aria-current="page">Misc</li>
    </ol>
</nav>
</header>



<main class="col-lg-8 row offset-2  main main-typo">

            <section class="col-md-12">
                <article class="entry">
                    <header class="text-center">
                        <h2 class="entry-title ">Misc</h2>
                    </header>
                </article>
            </section>

    <section class=" entry col-md-6">

        <h2 class="entry-title typo-title" >Tabs</h2>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">This is</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">tabbed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">content</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi.
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                Nunc rhoncus tortor quis eros bibendum a tempus est dapibus.
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                Etiam molestie, risus eu gravida lobortis, velit sapien aliquam lectus, nec hendrerit lectus erat ac libero. Aenean fermentum luctus viverra.
                Pellentesque id lectus ante, vel tristique elit. Fusce mattis, purus non consectetur cursus, justo nisi viverra sem, ac lobortis ipsum sapien vel purus.
                Vivamus aliquet gravida nibh sit amet accumsan. Fusce et lorem nunc.
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                Nulla non tortor eget ligula dapibus semper non ut mauris. Nam feugiat, lorem a tempus auctor, odio nisl porttitor lacus, ut ultrices neque massa a odio.
                Pellentesque sit amet leo dictum nisl tempor malesuada id ut magna. Etiam non mauris eget massa sagittis euismod.
                Aliquam lectus nulla, consequat eget molestie id, malesuada sit amet lectus. Pellentesque eget justo sit amet nunc adipiscing semper at ac quam.
            </div>
        </div>

    </section>

    <section class="entry col-md-6">

        <h2 class="entry-title typo-title" >Toggle</h2>

        <div class="nav flex-column">

            <div class="toggle py-1">
                <button type="button" class="btn btn-block toggle-btn" data-toggle="button">click to title</button>
                <p class="toggle-text  pt-3">
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi.
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc rhoncus tortor quis eros bibendum a tempus est dapibus.
                    Vivamus consectetur quam eu tellus porttitor ultrices. Nunc metus massa, ullamcorper sit amet malesuada a, porttitor in tellus.
                </p>
            </div>

            <div class="toggle mt-4  py-1">
                <button type="button" class="btn btn-block toggle-btn" data-toggle="button">click to title</button>
                <p class="toggle-text pt-3">
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi.
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc rhoncus tortor quis eros bibendum a tempus est dapibus.
                    Vivamus consectetur quam eu tellus porttitor ultrices. Nunc metus massa, ullamcorper sit amet malesuada a, porttitor in tellus.
                </p>
            </div>

            <div class="toggle mt-4  py-1">
                <button type="button" class="btn btn-block toggle-btn" data-toggle="button">click to title</button>
                <p class="toggle-text  pt-3">
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi.
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc rhoncus tortor quis eros bibendum a tempus est dapibus.
                    Vivamus consectetur quam eu tellus porttitor ultrices. Nunc metus massa, ullamcorper sit amet malesuada a, porttitor in tellus.
                </p>
            </div>

        </div>

    </section>

    <section class="entry col-md-6 mt-5">

        <h2 class="entry-title typo-title" >Boxes</h2>

        <div class="boxes">
            <p class="alert alert-primary mt-1" role="alert" >
                This is an information box
            </p>
            <p class="alert alert-success mt-1" role="alert" >
                This is a download box
            </p>
            <p class="alert alert-danger mt-1" role="alert" >
                This is an warning box
            </p>
            <p class="alert alert-dark mt-1" role="alert" >
                This is an note box
            </p>
        </div>

    </section>


    <section class="entry col-md-6 mt-5">

        <h2 class="entry-title typo-title" >Map</h2>

            <div id="map-canvas"></div>

            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnycWatbGyK6ldFqErjFtko1yeMclNUOA"></script>
            <script type="text/javascript" src="../js/mapInit.js"></script>

        <!--
        в консоли - ошибка - нужно обновить API key, но их нужно покупать за отд плату
        -->

    </section>


 </main>


<% include partials/footer %>

