<% include partials/header %>

<nav aria-label="breadcrumb breadcrumb-menu">
    <ol class="breadcrumb mt-7">
        <li class="breadcrumb-item ml-auto"><a class="breadcrumb-item-link" href="#">Home</a></li>
        <li class="breadcrumb-item active mr-auto" aria-current="page">Typography</li>
    </ol>
</nav>
</header>



<main class="col-lg-8 row offset-lg-2  main">

            <section class="col-md-12">
                <article class="entry">
                    <header class="mt-lg-2">
                        <h2 class="entry-title ">Typography</h2>
                    </header>
                </article>
            </section>

            <section class="col-md-6">
                <article class="entry">
                    <header class="mt-lg-2">
                        <h2 class="entry-title ">Unordered list</h2>
                    </header>
                    <ul>
                        <li>
                            Pellentesque non diam et tortor dignissim.
                        </li>
                        <li>
                            Neque sit amet mauris egestas quis mattis.
                        </li>
                        <li>
                            Cras justo odio, dapibus ac facilisis.
                        </li>
                        <li>
                            Curabitur viver justo sed scelerisque.
                        </li>
                    </ul>
                </article>
            </section>

            <section class="col-md-6">
                <article class="entry">
                    <header class="mt-lg-2">
                        <h2 class="entry-title ">Ordered list</h2>
                    </header>
                    <ol>
                        <li>
                            Pellentesque non diam et tortor dignissim.
                        </li>
                        <li>
                            Neque sit amet mauris egestas quis mattis.
                        </li>
                        <li>
                            Cras justo odio, dapibus ac facilisis.
                        </li>
                        <li>
                            Curabitur viver justo sed scelerisque.
                        </li>
                    </ol>
                </article>
            </section>


             <section>
                <article class="entry">
                    <header class="mt-lg-2">
                        <h2 class="entry-title ">Blockquote</h2>
                    </header>
                    <blockquote class="blockquote"> <!-- РАЗОБРАТЬЯ ПОЧЕМУ НЕ РАБОТАЕТ НОРМАЛЬНО ЗДЕСЬ???!!!! -->
                       Pellentesque non diam et tortor dignissim bibendum. Neque sit amet mauris egestas quis mattis velit fringilla. Curabitur viver justo sed scelerisque.
                    </blockquote>
                </article>
            </section>


             <section>
                <article class="entry">
                    <header class="mt-lg-2">
                        <h2 class="entry-title ">Dropcap</h2>
                    </header>
                    <p> <!-- сделать чтоб заработало как в примере -->
                        Duis non lectus sit amet est imperdiet cursus elementum vitae eros.
                        Cras quis odio in risus euismod suscipit. Fusce viverra ligula vel justo bibendum semper.
                        Nulla facilisi.
                        Donec interdum, enim in dignissim lacinia, lectus nisl viverra lorem, ac pulvinar nunc ante at neque.
                        Proin et dui eros, at aliquet est. Pellentesque consectetur lectus quis enim mollis ut convallis urna malesuada. Sed tincidunt interdum sapien vel gravida.
                        Nulla a tellus lectus, in aliquet tellus. Donec aliquam neque quis mi.
                    </p>
                </article>
            </section>


             <section>
                <article class="entry">
                    <header class="mt-lg-2">
                        <h2 class="entry-title ">Hightlights</h2>
                    </header>
                    <p> <!-- сделать чтоб заработало как в примере -->
                        Duis non lectus sit amet est imperdiet cursus elementum vitae eros.
                        This is hightlight morbi vitae magna tellus, ac mattis urna.
                        This is second highlight posuere. Cras quis odio in risus euismod suscipit. Fusce viverra ligula vel justo bibendum semper.
                    </p>
                </article>
            </section>



        </main>


<% include partials/footer %>

